// Xfinity Fonts

@font-face {
    font-family: 'xfinity-thin';
    src: url('fonts/xfinity-sans/xfinitysans-thin-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-thin-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-thin-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-thin-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-thin-webfont.svg#xfinity_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-extra-light';
    src: url('fonts/xfinity-sans/xfinitysans-exlgt-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-exlgt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-exlgt-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-exlgt-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-exlgt-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-exlgt-webfont.svg#xfinity_sansextra_light') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-light';
    src: url('fonts/xfinity-sans/xfinitysans-lgt-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-lgt-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-lgt-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-lgt-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-lgt-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-lgt-webfont.svg#xfinity_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-medium';
    src: url('fonts/xfinity-sans/xfinitysans-med-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-med-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-med-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-med-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-med-webfont.svg#xfinity_sansmedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-condensed-medium';
    src: url('fonts/xfinity-sans/xfinitysans-medcond-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-medcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-medcond-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-medcond-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-medcond-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-medcond-webfont.svg#xfinity_sansmedium_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-regular';
    src: url('fonts/xfinity-sans/xfinitysans-reg-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-reg-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-reg-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-reg-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-reg-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-reg-webfont.svg#xfinity_sans_regregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-bold';
    src: url('fonts/xfinity-sans/xfinitysans-bold-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-bold-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-bold-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-bold-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-bold-webfont.svg#xfinity_sans_regbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'xfinity-condensed-bold';
    src: url('fonts/xfinity-sans/xfinitysans-boldcond-webfont.eot');
    src: url('fonts/xfinity-sans/xfinitysans-boldcond-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/xfinity-sans/xfinitysans-boldcond-webfont.woff2') format('woff2'),
         url('fonts/xfinity-sans/xfinitysans-boldcond-webfont.woff') format('woff'),
         url('fonts/xfinity-sans/xfinitysans-boldcond-webfont.ttf') format('truetype'),
         url('fonts/xfinity-sans/xfinitysans-boldcond-webfont.svg#xfinity_sansbold_condensed') format('svg');
    font-weight: normal;
    font-style: normal;
}
