@import "../../style/global-vars/_colors.scss";

.bg-color-blue {
  background-color: $xfinity-blue;
}

.add-radius {
  border-radius: 5px;
}

.my-text-left {
  text-align: left;
}

.add-padding {
  padding: 10px;
}
