// One source of truth SCSS colors v2.0 as of Nov 1, 2016

// Primary Color Palette

$white: #FFFFFF;

$cool-grey1: #FBFCFC;
$cool-grey2: #F2F4F5;
$cool-grey3: #EEF1F3;
$cool-grey4: #EBEEF0;
$cool-grey5: #E6EAED;
$cool-grey6: #DDE2E6;
$cool-grey7: #C7CDD2;
$cool-grey8: #B1B9BF;
$cool-grey9: #9BA4AA;
$cool-grey10: #868F96;
$cool-grey11: #646A70;
$cool-grey12: #44484C;
$cool-grey13: #2A2C2D;
$cool-grey14: #191919;

$black: #000000;

$xfinity-blue: #2B9CD8;
$sharp-blue: #256CEE;
$blue-sky: #0272B6;
$blue-ocean: #00619A;

$red-cherry: #D92324;

// Secondary Color Palette

$smolder: #1F232E;
$urban: #051219;
$reign: #7155D3;
$bramble: #BC43D3;
$berry: #FF638D;
$red-watermelon: #FB543F;
$haute: #FF5A5A;
$tangerine: #FF9271;
$yellow-pumpkin: #FFA700;
$lemon: #FFD871;
$turq: #50C3D5;
$lagoon: #1BCFE1;
$green-tea: #1EE2C9;
$minty: #65D0A7;
