@import '../../public/fonts/_fonts.scss';

$xfinity-thin: 'xfinity-thin', sans-serif;
$xfinity-extra-light: 'xfinity-extra-light', sans-serif;
$xfinity-light: 'xfinity-light', sans-serif;
$xfinity-medium: 'xfinity-medium', sans-serif;
$xfinity-condensed-medium: 'xfinity-condensed-medium', sans-serif;
$xfinity-regular: 'xfinity-regular', sans-serif;
$xfinity-bold: 'xfinity-bold', sans-serif;
$xfinity-condensed-bold: 'xfinity-condensed-bold', sans-serif;
